body{
    background-image: radial-gradient(rgba(111, 221, 219,0.9), rgba(4, 0, 78,0.9));
}


h1{
    font-size: 150px;
    text-align: center;
    color: rgb(10, 3, 139);
    text-shadow: rgb(111, 219, 246) 1px 0 10px;
    background-image: none;
    background-color: transparent;
}


.cover{
    background-image: url("coverphoto.jpeg");
    background-color: transparent;
    background-position: center;

}

h2{
    font-size: 80px;
    border-style: double;
    color:rgb(111, 221, 219)

}

h3{
    font-size: 50px;
    color: rgba(4, 0, 78,0.9);
}

p{
    font-size: 30px;
    text-align: justify;
}

h4{
 
    font-size: 40px;
}

ul{
    font-size: 30px;
}




